<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    
    <h1> The @Model.Adjective1 brown @Model.Noun1 @Model.Verb over the @Model.Adjective2 @Model.Noun2 </h1>
    
    
    
    <a href="/form">Click here for puppies!</a>
    <a href="/form2">Click here for kitties!</a>
    
  </body>
</html>